<div class='container'>
  <h1>About Harshil</h1>
  <div class='row'>
    <div class='col-2'>
      <img src='/assets/profile.jpg' alt='profile pic'>
    </div>
    <div class='col-10' id='person'>
      <h2>Ordinary Mortal</h2>
      <ul>
        <li>Lover of coffee and tea - a daily necessity</li>
        <li>Mavs Fan For Life! Força Barça!</li>
        <li>Books, Games, Shows, Movies - anything geeky to fuel my guilty pleasures and free time</li>
        <li>I enjoy exploring diverse cultures whether it is through travel & first hand exp. or simply reading about it or foreign
          literature
        </li>
        <li>Healthcare and technology are my industrial passions</li>
      </ul>
    </div>
  </div>
  <div id='professional'>
    <h2>Software Developer</h2>
    <p>Detail-oriented, quick-learning software developer with a background in software development and bioengineering research.</p>
    <h3>Skills</h3>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              Front-End Development</a>
          </h5>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul>
              <li>HTML5</li>
              <li>CSS3</li>
              <li>jQuery</li>
              <li>Ajax</li>
              <li>Sass</li>
              <li>Haml</li>
              <li>HTTP Request/Response</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
              Languages</a>
          </h5>
        </div>
        <div id="collapse2" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul>
              <li>Python</li>
              <li>Ruby</li>
              <li>JavaScript</li>
              <li>MATLAB</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
              Databases</a>
          </h5>
        </div>
        <div id="collapse3" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul>
              <li>SQL (MySQL, SQLite)</li>
              <li>PostreSQL</li>
              <li>NoSQL (MongoDB)</li>
              <li>Mongoose.js</li>
            </ul>
          </div>  
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
              Servers</a>
          </h5>
        </div>
        <div id="collapse4" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul>
              <li>Node.js</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
              Frameworks</a>
          </h5>
        </div>
        <div id="collapse5" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul>
              <li>Flask</li>
              <li>Django</li>
              <li>Angular</li>
              <li>Express/Socket.io</li>
              <li>Ruby on Rails</li>
              <li>Twitter Bootstrap</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
              Version Control</a>
          </h5>
        </div>
        <div id="collapse6" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul>
              <li>Git/GitHub</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
              Methodologies</a>
          </h5>
        </div>
        <div id="collapse7" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul>
              <li>Object Oriented Programming (OOP)</li>
              <li>Models Views Controllers (MVC/MTV)</li>
              <li>RESTful Architecture</li>
              <li>Agile Project Management</li>
              <li>Software Development Life Cycle (SDLC)</li>
              <li>Test Driven Development (TDD)</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
              Other Technologies</a>
          </h5>
        </div>
        <div id="collapse8" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul>
              <li>COMSOL</li>
              <li>LabVIEW</li>
              <li>Latex</li>
              <li>Autodesk Inventor</li>
              <li>AWS (EC2)</li>
              <li>AutoCAD</li>
              <li>Image J</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <h3>Experience</h3>
    <div class='exp'>
      <p><b>Full-stack Web Development Resident</b>, Coding Dojo</p>
      <small>Dallas, TX | Sept. 2017 - Jan. 2018</small>
      <p>Completed intensive, full-time web development program with well over a 1000 hours of work building various web applications in Python, MEAN and Ruby.</p>
    </div>
    <div class='exp'>
      <p><b>Team Engineer</b>, Seattle Children's Hospital</p>
      <small>Seattle, WA | Jan. 2017 - Jun. 2017</small>
      <p>Designed and prototyped an easily adjustable intubation ramp for usage on patients of all ages and body types. Authored a design report detailing need, goals, prototype design, test methods and results. Presented at a research symposium.</p>
    </div>
    <div class='exp'>
      <p><b>Undergraduate Researcher</b>, Carothers Research Group</p>
      <small>Seattle, WA | Apr. 2016 - Jun. 2017</small>
      <p>Self-motivated research on DNA gate functionalized gold nanoparticles and strand displacement kinetics for use in biosensor mechanisms and drug delivery. Authored research report detailing motivations, experimental design, results and discussion.</p>
    </div>
    <h3>Education</h3>
    <div class='edu'>
      <p><b>Coding Dojo</b></p>
      <small>Dallas, TX | Sept. 2017 - Jan. 2018</small>
      <p>Full-stack Web Development (Python, MEAN, Ruby)</p>
    </div>
    <div class='edu'>
      <p><b>University of Washington</b></p>
      <small>Seattle, WA | Sept. 2013 - Jun. 2017</small>
      <p>B.S. in BioEngineering</p>
    </div>
  </div>
</div>
</div>