<div class='container'>
  <h1>Harshil Patel</h1>
  <div class='row'>
    <div class='col-2'>
      <img src='/assets/profile.jpg' alt='profile pic'>
    </div>
    <div class='col-10' id='person'>
      <h3>Ordinary Mortal</h3>
      <ul>
        <li>Lover of coffee and tea - a daily necessity</li>
        <li>Mavs Fan For Life! Força Barça!</li>
        <li>Books, Games, Shows, Movies - anything geeky to fuel my guilty pleasures and free time</li>
        <li>I enjoy exploring diverse cultures whether it is through travel & first hand exp. or simply reading about it or foreign
          literature
        </li>
        <li>Healthcare and technology are my industrial passions</li>
      </ul>
    </div>
  </div>
  <div id='professional'>
    <h3>Software Developer</h3>
    <p>Detail-oriented, quick-learning software developer with a background in software development and bioengineering research.</p>
    <h4>Skills</h4>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              Languages</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul>
              <li>Python</li>
              <li>Ruby</li>
              <li>JavaScript</li>
              <li>MATLAB</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
              Front-End</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul>
              <li>HTML5</li>
              <li>CSS3</li>
              <li>jQuery</li>
              <li>Ajax</li>
              <li>Sass</li>
              <li>Haml</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <h4>Experience</h4>

    <h4>Education</h4>

  </div>
</div>
</div>