<div class='container'>
    <div class='row justify-content-center home-row'>
        <h1 id='home-h1'>Harshil Patel</h1>
        <h5><i>Software developer</i> | <i>Passionate about healthcare & technology</i> | <i>Lover of all things geeky</i></h5>        
        <h4 id='home-h4'><a href='<%= about_path %>'>Click to Enter</a></h4>
    </div>
</div>

