<div class='container'>
    <div class='row justify-content-center home-row'>
        <h1 id='home-h1'>Harshil Patel</h1>
        <h3 id='home-h3'><a href='<%= about_path %>'>Click to Enter</a></h3>
    </div>
</div>

