<div class='container'>
<h1>Resume</h1>
<a href="" download>Resume</a>
<div class='row'>
<h3>Skills</h3>
</div>
<div class='row'>
<h3>Education</h3>
</div>
<div class='row'>
<h3>Experience</h3>
</div>
</div>
