<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>From: <%= @data[:name] %></h1>
    <h3>Contact address: <%= @data[:email] %></h3>
    <p>
      <%= @data[:message] %>
    </p>
  </body>
</html>